/* .program table tr.plain td { display: none; } */

nav { display: none; }
a { text-decoration: none; }

thead {
    background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
