<!Doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="assets/css/sanitize.css" />
    <link rel="stylesheet" href="assets/css/main.css" media="screen,tv,projection"/>
    <link rel="stylesheet" href="assets/css/print.css" media="print" />
    <link rel="shortcut icon" href="assets/images/jncf.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ sitename }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="last-modified" content="{{ built }}" />
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content=sitename />
    <meta property="og:site_name" content=sitename />
    <meta property="og:url" content=siteurl />
    <meta property="og:description" content=description />
  </head>
  <body>
    <nav>
      <ul class="compact_menu">
        <li><a href=".">Accueil</a></li>
        <li><a href="comsci.html">Comité scientifique</a></li>
        <li><a href="cours.html">Cours</a></li>
        <li><a href="edt.html">Emploi du temps</a></li>
        <li><a href="inscription.html">Infos pratiques</a></li>
        <li>
          <a href="https://conferences.cirm-math.fr/1967.html"><strong>Site CIRM (en)</strong></a> 
        </li>
      </ul>

      <div id="sponsors">
	<img src="assets/images/cirm.jpg" alt="CIRM logo">
	<img src="assets/images/cnrs.png" alt="CNRS logo">
	<img src="assets/images/gdr-im.jpg" alt="GDR IM logo">
	<img src="assets/images/odk.svg" alt="OpenDreamKit logo">
	<img src="assets/images/inria.jpg" alt="Inria logo">
	<img src="assets/images/maple.png" alt="MapleSoft logo">
      </div>
    </nav>

    <main>
      <h1 class="longtitle">
        Journées Nationales de Calcul Formel {{ datestart | datefmt("yyyy") }}<br />
        CIRM, Luminy, {{ datestart | datefmt("d") }}–{{ dateend | datefmt("d mmmm yyyy") }}
      </h1>

      {{ contents | safe }}
      
      <footer>
	Dernière mise à jour le {{ built | datefmt("d mmmm yyyy") }}.<br>
	Directeur de publication : Luca De Feo, UVSQ — LMV, 45 avenue
	des États-Unis, 78035 Versailles,
	&lt;<a href="mailto:luca.de-feo.arobase.uvsq.fr">luca.de-feo.arobase.uvsq.fr</a>&gt;.
      </footer>
    </main>

    <script>
      document.querySelectorAll('a').forEach(function (a) {
        if (a.href.startsWith('mailto:')) {
          a.href = a.href.replace('.arobase.', '@');
          a.textContent = a.textContent.replace('.arobase.', '@');
        }
      });
    </script>
  </body>
</html>
